<h2>Login</h2>

{{ form_start(form) }}

{% include '@user/errors.html.twig' %}

<div>
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
</div>
<div>
    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}
</div>

{{ form_end(form) }}